body {
  display: flex;
  background-color: rgb(152, 161, 138);
}

main {
  display: flex;
  margin-top: 65px;
  box-shadow: rgb(68, 62, 62) 5px 5px;
  padding: 25px;
}

#conversor {
  padding: 15px;
  width: 425px;
  position: relative;
  left: 85px;
}

.pesquisa {
  grid-area: pesquisa;
  align-items: center;
  display: flex;
  box-shadow: rgb(68, 62, 62) 5px 5px;
  margin-left: 55px;
}
#listagem {
  grid-area: listagem;
  left: 15px;
  position: relative;
}
#bandeira {
  grid-area: bandeira;
  width: 18px;
}
#titulo-pais {
  grid-area: titulo;
}
.pais {
  grid-area: pais;
  width: 255px;
  display: grid;
  grid:
    "titulo titulo titulo titulo titulo titulo"
    "bandeira listagem listagem listagem listagem listagem"
    "bandeira listagem listagem listagem listagem listagem";
  grid-gap: 0px;
  padding: 0px;
}
.moeda {
  grid-area: moeda;
}

.conteudo {
  width: 255px;
  display: grid;
  grid:
    "pesquisa pesquisa pesquisa pesquisa pesquisa pesquisa"
    "pais pais pais pais moeda moeda"
    "pais pais pais pais moeda moeda";
  grid-gap: 10px;
  padding: 10px;
}

input.input,
select {
  background-color: rgb(216, 204, 204);
}

input#button {
  padding: 1px;
  width: 85px;
  background-color: rgb(216, 204, 204);
  color: rgb(68, 62, 62) 5px 5px;
}

input#button:hover {
  cursor: pointer;
}

.img-resp {
  width: 15px;
  border-radius: 50%;
  transition: 1s;
}

.img-resp:hover {
  width: 45px;
  border-radius: 0%;
  position: relative;
  float: right;
  cursor: pointer;
}

#listagem2 {
  margin-left: 15px;
}

h1 {
  position: relative;
  left: 35%;
}
